.nav{
    grid-area: n;
    background-color:whitesmoke;
    padding: 20px;
}

.item{
    color : #4a76a8;
    margin-top: 4px;
    
}
.item a {
    text-decoration: none;
}
.activeLink {
    color:gray;
}

 
 